@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration-thickness: .1px;
}

*:focus {
  @apply outline-none;
}

input {
  @apply text-white !important;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-zinc-800 text-white antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

.slick-next {
  right: 10px !important;
  left: auto;
}

.slick-prev {
  left: 0 !important;
  right: auto;
  z-index: 1;
}

.slick-next:before,
.slick-prev:before {
  color: black !important;
  font-size: 30px !important;
}

.supabase-auth-ui_ui-anchor {
  @apply text-xl no-underline !important;
}
